html, body{
  height: 100%;
}

body{
  font-size: 16px;
  color: $default;
  @extend %dmsans-400;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 15px;
}

.main{
  flex-grow: 1;
}

.btn {
  display: inline-block;
  background-color: #a3bbc8;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 12px;
}

a{
  color: $linkfont;
  font-size: 14px;
  line-height: 32px;
  @extend %rubik-400;
  text-transform: capitalize;
}