@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/@fancyapps/ui/dist/fancybox';
@import '../modules/_header/_header';
@import '../modules/_footer/_footer';
@import '../modules/_blog/_blog';
@import 'media';

.offer {
  background-color: #fcd7b6;
  padding-top: 90px;
}

.slider {
  background-image: url('../images/sliderimgbg.png');
  background-repeat: no-repeat;
  min-height: 640px;
  background-position: top right;
  padding-top: 130px;
  max-width: 1270px;
  margin: 0 auto;

  &__item {
    display: flex !important;
    justify-content: space-between;

    &-inner {
      max-width: 430px;
      margin-right: 120px;
      padding-left: 10px;
      &__title {
        font-size: 72px;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 15px;
        @extend %rubik-500;
      }

      &__text {
        font-size: 18px;
        line-height: 30px;
        color: #436372;
        @extend %rubik-400;
        margin-bottom: 41px;
      }

      &__btn {
        width: 200px;
        padding: 21px 15px 21px 30px;
        color: white;
        @extend %rubik-500;
        transition: all .3s;
        position: relative;

        &:hover {
          transform: scale(1.05);
        }

        &-arrow {
          position: absolute;
          right: 20px;
        }
      }
    }

    &-image {
      padding-top: 55px;
      padding-right: 80px;
    }
  }
}

ul.slick-dots {
  display: flex;
  justify-content: center;
  padding-top: 207px;

  li {
    button {
      background-color: #fde3cc;
      border-radius: 50%;
      border: none;
      font-size: 10px;
      line-height: 9px;
      color: $default;
      width: 29px;
      height: 29px;
      @extend %rubik-500
    }

    &.slick-active {
      button {
        background-color: #fff;
      }
    }
  }
}

.slick-dots li+li {
  margin-left: 10px;
}

.offer__bottom {
  background-color: #fef7f0;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;

  &-item {
    border-right: 1px solid #e8e4df;
    display: flex;
    padding: 47px 0;
    justify-content: center;
    width: 100%;

    &:last-child {
      border: none;
    }
  }

  &-img {
    margin-right: 25px;
    margin-top: 10px;
  }

  &-content {
    &__title {
      @extend %dmsans-700;
      color: #414141;
      font-size: 18px;
      line-height: 40px;
    }

    &__subtitle {
      @extend %dmsans-400;
      color: #585858;
      line-height: 30px;
    }
  }
}

.gallery {
  padding: 74px 0 104px;

  &__title {
    margin-bottom: 40px;
  }

  &__content {
    margin: 0 auto;
    display: grid;
    margin-top: 80px;
    margin-bottom: 186px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;

    &-item {
      padding: 27px 42px 38px;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      width: 270px;
      position: relative;

      &:hover .gallery__content-order {
        display: block;
      }
    }

    &-imagelink {
      margin-bottom: 78px;
      display: block;
    }

    &-title {
      margin-bottom: 17px;
      @extend %dmsans-500;
      text-align: center;
    }

    &-price {
      color: $subt;
      text-align: center;
      @extend %dmsans-700;
    }

    &-order {
      display: none;
      position: absolute;
      top: 183px;
      left: 0;
      right: 0;
    }

    &-link {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      position: relative;
      transition: all .4s;

      &:hover {
        background-color: #a3bbc8;

        path {
          fill: #fff;
        }
      }
    }

    &-icon {
      position: absolute;
      top: 16px;
      left: 16px;
    }

    &-cart {
      top: 15px;
      left: 14px;
    }

    &-heart {
      top: 16;
      left: 14px;
    }
  }
}

.gallery__content-link+.gallery__content-link {
  margin-left: 16px;
}

.gallery__content-order__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-best {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  &__item {
    background-color: #feefe2;
    min-width: 50%;
    padding: 103px 70px 98px 290px;
    position: relative;
    z-index: 1;
  }

  &__image {
    position: absolute;
    z-index: 2;
    bottom: 85px;
    left: 30px;
  }

  &__title {
    font-size: 26px;
    @extend %dmsans-700;
    margin-bottom: 19px;
  }

  &__subtitle {
    font-size: 16px;
    @extend %rubik-400;
    margin-bottom: 19px;
    line-height: 30px;
  }

  &__btn {
    padding: 20px 23px;
    width: 180px;
    font-size: 15px;
    @extend %rubik-500;
    position: relative;
    transition: all .3s;

    &:hover {
      transform: scale(1.05);
    }

    &-arrow {
      position: absolute;
      right: 20px;
      top: 19px;
    }
  }
}

.newest {
  padding: 104px 0 120px;

  &__title {
    margin-bottom: 29px;
    text-transform: capitalize;
  }

  &__content {
    margin: 0 auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;

    &-item {
      width: 370px;
      padding: 43px 163px 133px 38px;
      background-color: #f8f8f8;
      background-image: url('../images/newitem1.png');
      background-repeat: no-repeat;

      &__title {
        margin-bottom: 19px;
        @extend %dmsans-700;
        color: $h2;
        font-size: 20px;
      }

      &__subtitle {
        @extend %dmsans-700;
        color: $subt;
        font-size: 16px;
      }
    }
  }

}

.video {
  background-image: url('../images/video.jpg');
  height: 500px;
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1050px){
  .slider{
    background-size: 40%;
    padding-top: 20px;
    &__item-image{
      padding-top: 100px;
      padding-right: 65px;
    }
    &__item-inner{
      &__title{
        font-size: 52px;
        line-height: 60px;
      }
    }
  }
  ul.slick-dots{
    padding-top: 170px;
  }
  .offer__bottom{
    flex-wrap: wrap;
    &-item{
      border-bottom: 1px solid #e8e4df;
      border-right: none;
    }
  }
}


@media (max-width: 850px){
  .gallery, .newest{
    padding: 80px 0;
  }
  .blog{
    padding-top: 80px;
  }
  .slider{
    min-height: 0;
    padding-bottom: 60px;
    &__item-image {
      padding-top: 70px;
      padding-right: 65px;
    }
    &__item-inner{
      margin-right: 70px;
      &__title {
        font-size: 38px;
        line-height: 46px;
      }
      &__text{
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  ul.slick-dots{
    padding-top: 100px;
  }

  .gallery__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
  }
  .gallery-best{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 50px;
  }
  .newest{
    &__content{
      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .video {
    height: 250px;
    background-size: cover;
    &__link{
      img{
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media (max-width: 630px){
  .slider{
    background-image: none;
    &__item-image{
      display: none;
    }
  }
  .gallery, .newest{
    padding: 55px 0;
  }
  .blog{
    padding-top: 55px;
  }
  .title{
    font-size: 28px;
  }
  ul.slick-dots {
    padding-top: 70px;
  }
  .filter-btn{
    padding: 0 8px;
  }
  .gallery-best{
    &__image{
      display: none;
    }
    &__item{
      min-width: 100%;
      padding: 40px;
    }
  }
}
