@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header{
  padding: 50px 0;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }

  &__list-item + .menu__list-item{
     margin-left: 35px;
  }
  &__list-link{
    color: $links;
    font-size: 15px;
    line-height: 12px;
    padding-bottom: 5px;
    transition: 0.5s;
    @extend %rubik-500;
    &:hover {
      border-bottom: 1px solid $links;
    }
  }
}

.user-nav{
  display: flex;
  justify-content: space-between;
  &__link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    position: relative;
    &-icon{
      position: absolute;
      top: 17px;
      left: 18px;
    } 
  }
  &__cart{
    width: 180px;
    background-color: #fcd7b6;
    border-radius: 30px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 21px;
    &-link{
      position: relative;
      display: block;
      padding-top: 21px;
    }
    &-num{
      position: absolute;
      top: 16px;
      left: 13px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      color: $default;
      font-size: 10px;
      line-height: 13px;
      text-align: center;
      background-color: #fff;
    }
  }
}

.burger{
  background-color: #a3bbc8;
}

.menu-icon {
  top: 14px;
  left: 15px;
}

.user-nav__link:first-child{
  margin-right: 21px;
}

.offer{
  background-color: #fcd7b6;
  padding-top: 90px;
}

.slider{
  background-image: url('../images/sliderimgbg.png');
  background-repeat: no-repeat;
  min-height: 640px;
  background-position: top right;
  padding-top: 130px;
  max-width: 1270px;
  margin: 0 auto;
  &__item{
    display: flex !important;
    justify-content: space-between;
    &-inner{
    max-width: 430px;
    margin-right: 120px;
      &__title{
      font-size: 72px;
      line-height: 70px;
      text-transform: uppercase;
      margin-bottom: 15px;
      @extend %rubik-500;
      }
      &__text{
      font-size: 18px;
      line-height: 30px;
      color: #436372;
      @extend %rubik-400;
      margin-bottom: 41px;
      }
      &__btn{
      width: 200px;
      padding: 21px 15px 21px 30px;
      color: white;
      @extend %rubik-500;
      transition: all .3s;
      position: relative;
      &:hover{
        transform: scale(1.05);
      }
      &-arrow{
        position: absolute;
        right: 20px;
      }
      }
    }
    &-image{
    padding-top: 55px;
    padding-right: 80px;
    }
  }
}

ul.slick-dots{
  display: flex;
  justify-content: center;
  padding-top: 207px;
  li{
    button{
      background-color: #fde3cc;
      border-radius: 50%;
      border: none;
      font-size: 10px;
      line-height: 9px;
      color: $default;
      width: 29px;
      height: 29px;
      @extend %rubik-500
    }
    &.slick-active{
      button{
      background-color: #fff;
      }
    }
  }
}

.slick-dots li + li{
  margin-left: 10px;
}

.offer__bottom{
  background-color: #fef7f0;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  &-item{
    border-right: 1px solid #e8e4df;
    display: flex;
    padding: 47px 0;
    justify-content: center;
    width: 100%;
    &:last-child{
      border: none;
    }
  }
  &-img{
    margin-right: 25px;
    margin-top: 10px;
  }
  &-content{
    &__title{
      @extend %dmsans-700;
      color: #414141;
      font-size: 18px;
      line-height: 40px;
    }
    &__subtitle{
      @extend %dmsans-400;
      color: #585858;
      line-height: 30px;
    }
  }
}

.gallery{
  padding: 74px 0 104px;
  &__title{
    margin-bottom: 40px;
  }
  
  &__content{
    margin: 0 auto;
    display: grid;
    margin-top: 80px;
    margin-bottom: 186px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    &-item{
      padding: 27px 42px 38px;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      width: 270px;
      position: relative;
      &:hover .gallery__content-order{
        display: block;
      }
    }
    &-img{
      margin-bottom: 78px;
    }
    &-title{
      margin-bottom: 17px;
      @extend %dmsans-500;
      text-align: center;
    }
    &-price{
      color: $subt;
      text-align: center;
      @extend %dmsans-700;
    }
    &-order{
    display: none;
    position: absolute;
    top: 183px;
    left: 0;
    right: 0;
    }
    &-link{
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      position: relative;
      transition: all .4s;
      &:hover{
        background-color: #a3bbc8;
        path{
          fill: #fff;
        }
      }
    }
    &-icon{
      position: absolute;
      top: 16px;
      left: 16px;
    }
    &-cart{
      top: 15px;
      left: 14px;
    }
    &-heart{
      top: 16;
      left: 14px;
    }
  }
}

.gallery__content-link + .gallery__content-link{
  margin-left: 16px;
}

.gallery__content-order__item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-best{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  &__item{
    background-color: #feefe2;
    min-width: 50%;
    padding: 103px 70px 98px 290px;
    position: relative;
    z-index: 1;
  }
  &__image{
    position: absolute;
    z-index: 2;
    bottom: 85px;
    left: 30px;
  }
  &__title{
    font-size: 26px;
    @extend %dmsans-700;
    margin-bottom: 19px;
  }
  &__subtitle{
    font-size: 16px;
    @extend %rubik-400;
    margin-bottom: 19px;
    line-height: 30px;
  }
  &__btn{
    padding: 20px 23px;
    width: 180px;
    font-size: 15px;
    @extend %rubik-500;
    position: relative;
    transition: all .3s;
    &:hover{
      transform: scale(1.05);
    }
    &-arrow{
      position: absolute;
      right: 20px;
      top: 19px;
    }
  }
}

.newest{
  padding: 104px 0 120px;
  &__title{
    margin-bottom:  29px;
    text-transform: capitalize;
  }
  &__content{
    margin: 0 auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;
    &-item{
      width: 370px;
      padding: 43px 163px 133px 38px;
      background-color: #f8f8f8;
      background-image: url('../images/newitem1.png');
      background-repeat: no-repeat;
      &__title{
        margin-bottom: 19px;
        @extend %dmsans-700;
        color: $h2;
        font-size: 20px;
      }
      &__subtitle{
        @extend %dmsans-700;
        color: $subt;
        font-size: 16px;
      }
    }
  }

}

.video{
  background-image: url('../images/video.jpg');
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog{
  padding-top: 120px;
  position: relative;
  background-image: url;
  &__titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
    z-index: 9;
    &-link{
      @extend %dmsans-700;
      color: $h2;
      position: relative;
      margin-right: 28px;
    }
    &-arrow{
      position: absolute;
      padding-left: 19px;
      top: 1px;
    }
  }
  &__title{
    text-transform: capitalize;
    text-align: left;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 371px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    background-color: #fff;
    &-category{
      position: absolute;
      width: 103px;
      background-color: $subt;
      color: #fff;
      padding: 5px 0;
      text-align: center;
      border-radius: 40px;
      text-transform: uppercase;
      transform: translateY(-50%);
      left: 28px;
    }
    &-article{
      margin-top: 36px;
      margin-left: 31px;
      margin-right: 31px;
      padding-bottom: 18px;
      margin-bottom: 22px;
      border-bottom: 1px solid #e0e0e0;
      font-size: 18px;
      color: $h2;
      @extend %dmsans-500;
    }
    &-info{
      display: flex;
      margin-left: 31px;
      padding-bottom: 27px;
      color: #222933;
      @extend %rubik-400;
      text-transform: uppercase;
      font-size: 12px;
    }
    &-date{
      margin-right: 30px;
    }
  }
  &__brands{
    background-color: #fef7f0;
    padding: 264px 0 88px;
    margin-top: -190px;
    &-items{
      display: flex;
      justify-content: space-between;
      max-width: 1170px;
      margin: 0 auto;
    }
  }
}

.login{
  padding: 120px 0;
  max-width: 570px;
  margin: 0 auto;
  &__form{
    max-width: 470px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &-label{
      margin-bottom: 30px;
      font-size: 14px;
      color: $links;
      @extend %rubik-400;
    }
    &-input{
      display: block;
      width: 100%;
      height: 60px;
      border: none;
      border: 1px solid #f6f6f6;
      margin-top: 15px;
      padding: 0 15px;
    }
    &-btn{
      padding: 20px 0;
      font-size: 18px;
      @extend %rubik-500;
      margin-bottom: 37px;
      cursor: pointer;
    }
    &-links{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 34px;
      margin-bottom: 32px;
      align-items: center;
      &__label{
        font-size: 14px;
        color: $links;
        @extend %rubik-400;
      }
    }
    &-link{
      @extend %rubik-400;
      font-size: 14px;
      color: $links;
    }
    &-link2{
      text-align: center;
      margin-bottom: 24px;
    }
  }
}

.brands{
  &__login{
    background-color: #fef7f0;
    padding: 85px 50px;
    &-items{
      max-width: 1170px;
      padding: 0 50px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    }
  }
}

.terms{
  padding: 121px 0 95px;
  :last-child{
    margin-bottom: 0;
  }
  &__title{
    font-size: 24px;
    @extend %rubik-500;
    margin-bottom: 34px;
  }
  &__list{
    list-style: decimal-leading-zero;
  }
  &__item{
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__text {
    line-height: 30px;
    margin-bottom: 66px;
    @extend %rubik-400;
  }
}

ol.terms__list{
  margin-bottom: 66px;
  padding-left: 45px;
}

.blog__terms{
  padding-top: 0;
}



.footer{
  padding: 85px 0 40px;
  &-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
    &__item{
      &__adress{
        margin-bottom: 20px;
        display: inline-block;
        color: $linkfont;
        line-height: 24px;
      }
      &__email, &__phone{
        color: $linkfont;
      }
      &__title{
        margin-bottom: 32px;
        padding-top: 20px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #1f2044;
        @extend %dmsans-700;
      }
      &__text{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 39px;
        @extend %rubik-400;
        color: $linkfont;
      }
      &__form{
        &-input{
          width: 170px;
          border: none;
          background-color: #fef7f0;
          padding: 14px 16px;
          font-size: 12px;
          &::placeholder{
            font-size: 12px;
            color: #234969;
          }
        }
        &-btn{
          width: 100px;
          border: none;
          padding: 14px 16px;
          color: white;
          cursor: pointer;
        }
      }
    }
    &__logo{
      margin-bottom: 38px;
    }
    &__contact{
      width: 231px;
      margin-right: 69px;
    }
    &__nav{
      width: 145px;
      margin-right: 145px;
    }
    &__acc{
      width: 100px;
      margin-right: 180px;
    }
    &__form{
      width: 295px
    }
  }
  &-bottom{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__copy{
      font-size: 14px;
      line-height: 32px;
      color: $linkfont
    }
    &__list{
      display: flex;
      justify-content: space-between;
      width: 270px;
      &-item{
        padding: 0 15px;
      }
    }
  }
}

.footer-bottom__list-item + .footer-bottom__list-item {
  border-left: 1px solid #7b7b7b;
}






@import 'media';
