@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header{
  padding: 50px 0;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }

  &__list-item + .menu__list-item{
     margin-left: 35px;
  }
  &__list-link{
    color: $links;
    font-size: 15px;
    line-height: 12px;
    padding-bottom: 5px;
    transition: 0.5s;
    @extend %rubik-500;
    &:hover {
      border-bottom: 1px solid $links;
    }
  }
}

.user-nav{
  display: flex;
  justify-content: space-between;
  &__link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    position: relative;
    &-icon{
      position: absolute;
      top: 17px;
      left: 18px;
    } 
  }
  &__cart{
    width: 180px;
    background-color: #fcd7b6;
    border-radius: 30px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 21px;
    &-link{
      position: relative;
      display: block;
      padding-top: 21px;
    }
    &-num{
      position: absolute;
      top: 16px;
      left: 13px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      color: $default;
      font-size: 10px;
      line-height: 13px;
      text-align: center;
      background-color: #fff;
    }
  }
}

.burger{
  background-color: #a3bbc8;
}

.menu-icon {
  top: 14px;
  left: 15px;
}

.user-nav__link:first-child{
  margin-right: 21px;
}

.offer{
  background-color: #fcd7b6;
  padding-top: 90px;
}

.slider{
  background-image: url('../images/sliderimgbg.png');
  background-repeat: no-repeat;
  min-height: 640px;
  background-position: top right;
  padding-top: 130px;
  max-width: 1270px;
  margin: 0 auto;
  &__item{
    display: flex !important;
    justify-content: space-between;
    &-inner{
    max-width: 430px;
    margin-right: 120px;
      &__title{
      font-size: 72px;
      line-height: 70px;
      text-transform: uppercase;
      margin-bottom: 15px;
      @extend %rubik-500;
      }
      &__text{
      font-size: 18px;
      line-height: 30px;
      color: #436372;
      @extend %rubik-400;
      margin-bottom: 41px;
      }
      &__btn{
      width: 200px;
      padding: 21px 15px 21px 30px;
      color: white;
      @extend %rubik-500;
      transition: all .3s;
      position: relative;
      &:hover{
        transform: scale(1.05);
      }
      &-arrow{
        position: absolute;
        right: 20px;
      }
      }
    }
    &-image{
    padding-top: 55px;
    padding-right: 80px;
    }
  }
}

ul.slick-dots{
  display: flex;
  justify-content: center;
  padding-top: 207px;
  li{
    button{
      background-color: #fde3cc;
      border-radius: 50%;
      border: none;
      font-size: 10px;
      line-height: 9px;
      color: $default;
      width: 29px;
      height: 29px;
      @extend %rubik-500
    }
    &.slick-active{
      button{
      background-color: #fff;
      }
    }
  }
}

.slick-dots li + li{
  margin-left: 10px;
}

.offer__bottom{
  background-color: #fef7f0;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  &-item{
    border-right: 1px solid #e8e4df;
    display: flex;
    padding: 47px 0;
    justify-content: center;
    width: 100%;
    &:last-child{
      border: none;
    }
  }
  &-img{
    margin-right: 25px;
    margin-top: 10px;
  }
  &-content{
    &__title{
      @extend %dmsans-700;
      color: #414141;
      font-size: 18px;
      line-height: 40px;
    }
    &__subtitle{
      @extend %dmsans-400;
      color: #585858;
      line-height: 30px;
    }
  }
}

.gallery{
  padding: 74px 0 104px;
  &__title{
    margin-bottom: 40px;
  }
  
  &__content{
    margin: 0 auto;
    display: grid;
    margin-top: 80px;
    margin-bottom: 186px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    &-item{
      padding: 27px 42px 38px;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      width: 270px;
      position: relative;
      &:hover .gallery__content-order{
        display: block;
      }
    }
    &-imagelink{
      margin-bottom: 78px;
      display: block;
    }
    &-title{
      margin-bottom: 17px;
      @extend %dmsans-500;
      text-align: center;
    }
    &-price{
      color: $subt;
      text-align: center;
      @extend %dmsans-700;
    }
    &-order{
    display: none;
    position: absolute;
    top: 183px;
    left: 0;
    right: 0;
    }
    &-link{
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      position: relative;
      transition: all .4s;
      &:hover{
        background-color: #a3bbc8;
        path{
          fill: #fff;
        }
      }
    }
    &-icon{
      position: absolute;
      top: 16px;
      left: 16px;
    }
    &-cart{
      top: 15px;
      left: 14px;
    }
    &-heart{
      top: 16;
      left: 14px;
    }
  }
}

.gallery__content-link + .gallery__content-link{
  margin-left: 16px;
}

.gallery__content-order__item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-best{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  &__item{
    background-color: #feefe2;
    min-width: 50%;
    padding: 103px 70px 98px 290px;
    position: relative;
    z-index: 1;
  }
  &__image{
    position: absolute;
    z-index: 2;
    bottom: 85px;
    left: 30px;
  }
  &__title{
    font-size: 26px;
    @extend %dmsans-700;
    margin-bottom: 19px;
  }
  &__subtitle{
    font-size: 16px;
    @extend %rubik-400;
    margin-bottom: 19px;
    line-height: 30px;
  }
  &__btn{
    padding: 20px 23px;
    width: 180px;
    font-size: 15px;
    @extend %rubik-500;
    position: relative;
    transition: all .3s;
    &:hover{
      transform: scale(1.05);
    }
    &-arrow{
      position: absolute;
      right: 20px;
      top: 19px;
    }
  }
}

.newest{
  padding: 104px 0 120px;
  &__title{
    margin-bottom:  29px;
    text-transform: capitalize;
  }
  &__content{
    margin: 0 auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 30px;
    &-item{
      width: 370px;
      padding: 43px 163px 133px 38px;
      background-color: #f8f8f8;
      background-image: url('../images/newitem1.png');
      background-repeat: no-repeat;
      &__title{
        margin-bottom: 19px;
        @extend %dmsans-700;
        color: $h2;
        font-size: 20px;
      }
      &__subtitle{
        @extend %dmsans-700;
        color: $subt;
        font-size: 16px;
      }
    }
  }

}

.video{
  background-image: url('../images/video.jpg');
  height: 500px;
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog{
  padding-top: 120px;
  position: relative;
  background-image: url;
  &__titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
    z-index: 9;
    &-link{
      @extend %dmsans-700;
      color: $h2;
      position: relative;
      margin-right: 28px;
    }
    &-arrow{
      position: absolute;
      padding-left: 19px;
      top: 1px;
    }
  }
  &__title{
    text-transform: capitalize;
    text-align: left;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 371px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    position: relative;
    background-color: #fff;
    &-category{
      position: absolute;
      width: 103px;
      background-color: $subt;
      color: #fff;
      padding: 5px 0;
      text-align: center;
      border-radius: 40px;
      text-transform: uppercase;
      transform: translateY(-50%);
      left: 28px;
    }
    &-article{
      margin-top: 36px;
      margin-left: 31px;
      margin-right: 31px;
      padding-bottom: 18px;
      margin-bottom: 22px;
      border-bottom: 1px solid #e0e0e0;
      font-size: 18px;
      color: $h2;
      @extend %dmsans-500;
    }
    &-info{
      display: flex;
      margin-left: 31px;
      padding-bottom: 27px;
      color: #222933;
      @extend %rubik-400;
      text-transform: uppercase;
      font-size: 12px;
    }
    &-date{
      margin-right: 30px;
    }
  }
  &__brands{
    background-color: #fef7f0;
    padding: 264px 0 88px;
    margin-top: -190px;
    &-items{
      display: flex;
      justify-content: space-between;
      max-width: 1170px;
      margin: 0 auto;
      align-items: center;
    }
  }
}

.login{
  padding: 120px 0;
  max-width: 570px;
  margin: 0 auto;
  &__form{
    max-width: 470px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    &-label{
      margin-bottom: 30px;
      font-size: 14px;
      color: $links;
      @extend %rubik-400;
    }
    &-input{
      display: block;
      width: 100%;
      height: 60px;
      border: none;
      border: 1px solid #f6f6f6;
      margin-top: 15px;
      padding: 0 15px;
    }
    &-btn{
      padding: 20px 0;
      font-size: 18px;
      @extend %rubik-500;
      margin-bottom: 37px;
      cursor: pointer;
    }
    &-links{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 34px;
      margin-bottom: 32px;
      align-items: center;
      &__label{
        font-size: 14px;
        color: $links;
        @extend %rubik-400;
      }
    }
    &-link{
      @extend %rubik-400;
      font-size: 14px;
      color: $links;
    }
    &-link2{
      text-align: center;
      margin-bottom: 24px;
    }
    &-btn2{
      text-align: center;
      padding: 20px 0;
      font-size: 18px;
      @extend %rubik-500;
    }
  }
}

.jq-checkbox{
  background: #ebebeb;
  border: none;
  box-shadow: none;
}

.jq-checkbox.checked .jq-checkbox__div{
  margin: 4px 0 0 4px;
}

.brands{
  &__login{
    background-color: #fef7f0;
    padding: 85px 50px;
    &-items{
      max-width: 1170px;
      padding: 0 50px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      align-items: center;
    }
  }
}

.terms{
  padding: 121px 0 95px;
  :last-child{
    margin-bottom: 0;
  }
  &__title{
    font-size: 24px;
    @extend %rubik-500;
    margin-bottom: 34px;
  }
  &__list{
    list-style: decimal-leading-zero;
  }
  &__item{
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__text {
    line-height: 30px;
    margin-bottom: 66px;
    @extend %rubik-400;
  }
}

ol.terms__list{
  margin-bottom: 66px;
  padding-left: 45px;
}

.blog__terms{
  padding-top: 0;
}

.shop{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__filters{
    width: 270px;
    margin-right: 30px;
  }
}

.filters{
  &__category{
    margin-bottom: 59px;
    &-btn{
      border: none;
      background-color: transparent;
      width: 100%;
      display: block;
      padding: 15px 31px 15px 18px;
      text-align: left;
      @extend %rubik-400;
      transition: all .3s;
      cursor: pointer;
      position: relative;
      &:hover{
        background-color: #edf1f4;
      }
      &::after{
        position: absolute;
        content: " ";
        background-image: url('../images/arrowfilt.svg');
        width: 5px;
        height: 10px;
        right: 20px;
        top: 21px;
      }
    }
  }
  &__name{
    @extend %dmsans-700;
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-right: 57px;
    margin-bottom: 31px;
    text-transform: uppercase;
    &::after{
      position: absolute;
      content: " ";
      width: 38px;
      height: 2px;
      background-color: #c2d2db;
      top: 12px;
      right: 0;
    }
  }
  &__price{
    margin-bottom: 88px;
  }

}

.irs--flat{
  height: 31px;
}

.irs--flat .irs-line{
  top: 0px;
    height: 2px;
    background-color: #e1e4e9;
    border-radius: #c2d2db;
}

.irs--flat .irs-bar {
  top: 0px;
  height: 3px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle {
  top: -6px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}

.irs--flat .irs-handle>i:first-child{
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single{
  display: none;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before{
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.filters__price-from, .filters__price-to{
  font-size: 14px;
  @extend %rubik-400;
}

.filters__price-label{
  display: flex;
  justify-content: space-between;
}

.filters__brand{
  margin-bottom: 66px;
  &-input{
    @extend %checkbox-hidden;
    &:checked + .filters__brand-checkbox{
      background-color: #edf1f4;
    }
  }
  &-checkbox{
    @extend %rubik-400;
    display: flex;
    justify-content: space-between;
    padding: 15px 22px 15px 12px;
    border-radius: 5px;
  }
}

.filters__recent{
  &-item{
    display: flex;
    margin-bottom: 29px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-content{
    margin-left: 20px;
  }
  &-img{
    border: 2px solid #f2f2f2;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 2px;
  }
  &-image{
    object-fit: cover;
  }
  &-title{
    font-size: 14px;
    margin-bottom: 12px;
    color: $h2;
    @extend %rubik-400;
  }
  &-rating{
    margin-bottom: 12px;
  }
  &-price{
    font-size: 15px;
    @extend %rubik-400;
    color: $h2;
  }
  &-date{
    font-size: 12px;
    color: $linkfont;
  }
}
.filters__blogrecent-img{
  border: none;
  min-width: 70px;
}

.filters__search{
  position: relative;
  display: flex;
  margin-bottom: 60px;
  &-input{
    width: 220px;
    height: 42px;
    border: none;
    border: 1px solid #edf1f4;
    border-radius: 5px;
    border-right: none;
    padding: 0 35px 0 15px;
    outline: none;
  }
  &-btn{
    width: 48px;
    height: 42px;
    position: absolute;
    right: 24px;
    border: none;
    background-color: #edf1f4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.jq-ry-container{
  padding: 0;
}

.filters__recent-link{
  display: inline-block;
  height: 70px;
}

.shop__content-inner{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
  width: 870px;
  margin-bottom: 108px;
}

.product{
  padding: 120px 0;
  &-item{
    &__slide{
      width: 550px;
      display: flex;
      .slick-vertical .slick-slide{
        height: 160px;
        margin-bottom: 24px;
      }
    }
    &__inner {
      display:flex;
    }
    &__content {
      width: 600px;
      margin-left: 69px;
    }
    &__title{
      text-align: left;margin-bottom: 18px;
      @extend %rubik-400;
      font-size: 40px;
      color: $h2;
    }
    &__rating{
      margin-bottom: 37px;
    }
    &__price{
      margin-bottom: 37px;
      @extend %rubik-400;
      color: $h2;
      font-size: 30px;
    }
    &__descr{
      @extend %rubik-400;
      line-height: 30px;
      margin-bottom: 37px;
    }
    &__order-box{
      margin-bottom: 70px;
      display: flex;
      align-items: center;
      span{
        border-left: none;
        border-right: none;
        cursor: auto;
        &:hover{
          background-color: transparent;
          color: $h2;
        }
      }
    }
    &__order-add{
      width: 208px;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 15px;
      @extend %rubik-400;
      border-radius: 10px;
      margin-left: 15px;
      display: inline-block;
      color: #fff;
      cursor: pointer;
    }
    &__order-num{
      width: 50px;
      height: 50px;
      border: 1px solid #a3bbc8;
      transition: all .3s;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      @extend %rubik-400;
      color: $h2;
      cursor: pointer;
      &:hover {
      background-color: #a3bbc8;
      color: #fff;
      }
    }
    &__info-text{
      display: flex;
      width: 126px;
      @extend %rubik-400;
    }
    &__info-link{
      font-size: 16px;
      line-height: 16px;
      color: $default;
      @extend %rubik-400;
    }
    &__info-text + .product-item__info-text{
      margin-top: 15px;
    }
    &__info-elem{
      margin-right: 5px;
    }
  }
}

.product-slide{
  &__thumbs{
    width: 138px;
    margin-right: 25px;
  }
  &__thumbs-item{
    height: 160px;
    width: 138px;
    margin-bottom: 24px;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    img{
      object-fit: cover;
      height: 150px;
      width: 138px;
    }
  }
  &__main{
    width: 387px;
    height: 530px;
    width: 387px;
    border: 2px solid #f2f2f2;
    text-align: center;
    padding-top: 63px;
    img {
      display: inline-block;
    }
  }
}

.product-tabs{
  padding-top: 100px;
  &__top{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  &__top-item{
    display: inline-block;
    margin-right: 13px;
    width: 241px;
    background-color: #edf1f4;
    font-size: 18px;
    text-align: center;
    padding: 18px 0;
    color: $default;
    @extend %rubik-500;
    border-radius: 8px;
    transition: all .3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover{
      background-color: $subt;
      color: #fff;
    }
  }
  &__top-item--active{
    background-color: $subt;
    color: #fff;
  }
  &__content-item{
    display: none;
    &.product-tabs__content-item--active{
      display: block;
    }
  }
  &__content-text{
    @extend %rubik-400;
  }
}

.reviews{
  display: flex;
  margin-bottom: 40px;
  &:last-child{
    margin-bottom: 0;
  }
  &__avatar{
    margin-right: 30px;
    min-width: 71px;
    height: 71px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }
  &__content-top{
    display: flex;
    margin-bottom: 10px;
  }
  &__content-name{
    margin-right: 13px;
    @extend %rubik-500;
  }
  &__content-date{
    padding-left: 13px;
    border-left: 1px solid #f2f2f2;
    @extend %rubik-400;
    color: $linkfont;
  }
  &__content-rating{
    margin-left: auto;
  }
  &__content-text{
    @extend %rubik-400;
    margin-bottom: 10px;
  }
  &__content-reply{
    font-size: 16px;
    position: relative;
    padding-left: 25px;
    &::before{
      position: absolute;
      content: '';
      width: 17px;
      height: 13px;
      background-image: url('../images/replyarrow.png');
      left: 0;
      top: 3px
    }
  }
}

.reviews-form{
  padding-top: 68px;
  &__title{
    text-align: left;
    font-size: 22px;
    @extend %rubik-500;
    margin-bottom: 40px;
  }
  &__rate{
    margin-bottom: 30px;
  }
  &__rate-title{
    display: inline-block;
    font-size: 16px;
    @extend %rubik-400;
    color: $h2;
    transform: translateY(-2px);
    margin-right: 55px;
  }
  &__label{
    margin-right: 25px;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .reviews-form__radio{
      path{
        fill: #ffc35b;
      }
    }
  }
  &__radio{
    cursor: pointer;
    path{
      fill: #ccccce;
    }
  }
  &__text-box{
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
  }
  &__input-text{
    width: 570px;
    padding: 20px;
    font-size: 16px;
    @extend %rubik-400;
  }
  &__textarea{
    width: 100%;
    height: 224px;
    resize: none;
    padding: 20px;
    margin-bottom: 40px;
  }
  &__btn{
    width: 180px;
    padding: 18px 0;
    cursor: pointer;
  }
}

.related{
  padding-bottom: 120px;
  &__title{
    margin-bottom: 71px;
    text-align: left;
  }
}

.slick-prev, .slick-next{
  background-color: transparent;
  border: 1px solid #edf1f4;
  padding: 10px;
  position: absolute;
  top: -100px;
  right: 0;
  &:active {
    border: 3px solid #e5edf3;
  }
}

.slick-prev{
  right: 80px;
}

.slick-list{
  position: relative;
}

.blog-page{
  padding: 120px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__filters{
    width: 270px;
  }
  &__content{
    width: 830px;
    @extend %rubik-400;
  }
  &__item{
    margin-bottom: 51px;
  }
  &__item-imagebox{
    position: relative;
    margin-bottom: 31px;
  }
  &__item-img{
    max-width: 830px;
    height: 500px;
    object-fit: cover;
  }
  &__item-info{
    position: absolute;
    width: 275px;
    height: 70px;
    background-color: $subt;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
  }
  &__item-date{
    position: relative;
    padding-left: 19px;
    &:before{
      position: absolute;
      content: '';
      width: 14px;
      height: 16px;
      background-image: url('../images/calendar.svg');
      left: 0;
      top: -3px;
    }
  }
  &__item-author{
    position: relative;
    padding-left: 19px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    @extend %rubik-400;
    &:before{
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      background-image: url('../images/logins.svg');
      left: 0;
      top: -1px;
    }
  }
  &__item-title{
    font-size: 36px;
    color: $h2;
    margin-bottom: 31px;
  }
  &__item-subtitle{
    margin-bottom: 21px;
    @extend %rubik-500;
  }
  &__item-text{
    margin-bottom: 21px;
  }
  &__item-btn{
    border-color: $subt;
    color: $subt;
  }
  &__bottom-title{
    font-size: 18px;
    @extend %rubik-500;
    margin-bottom: 27px;
  }
  &__bottom-text{
    line-height: 30px;
    margin-bottom: 44px;
  }
  &__share-item{
    display: flex;
    align-items: center;
    &+.blog-page__share-item{
      margin-top: 17px;
    }
  }
  &__share-links{
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
  }
  &__share-social{
    &+.blog-page__share-social{
      margin-left: 22px;
    }
    &:hover{
      path{
        fill: $subt;
      }
    }
  }
  &__share-div{
    margin-left: 25px;
  }
}

.blog-page__pagination{
  justify-content: start;
  margin-top: 71px;
  ul{
    margin-left: 0;
  }
}

.blog-page__blockquote{
  background-color: #edf1f4;
  border-left: 6px solid #a3bbc8;
  padding: 18px 37px;
  margin-bottom: 46px;
  &-text{
    line-height: 30px;
    margin-bottom: 15px;
  }
  &-author{
    padding-left: 45px;
    position: relative;
    &::before{
      width: 20px;
      height: 3px;
      content: '';
      background-color: $subt;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
}

.blog-page__additional{
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  &-image{
    width: 322px;
    height: 209px;
    object-fit: cover;
  }
  &-content{
    margin-left: 31px;
  }
  &-title{
    @extend %rubik-500;
    padding-top: 30px;
    font-size: 18px;
    margin-bottom: 47px;
  }
}

.blog-page__author{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  padding-right: 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  &-info{
    display: flex;
    div{
      margin-left: 27px;
    }
  }
  &-photo{
    width: 78px;
    height: 78px;
    object-fit: cover;
  }
  &-name{
    font-size: 18px;
    padding-top: 10px;
    @extend %rubik-500;
    color: $h2;
    margin-bottom: 20px;
  }
  &-pos{
    color: $linkfont;
  }
}

ul.blog-page__share{
  padding-top: 10px;
  color: $h2;
}

.comments{
  padding-top: 60px;
  &__title{
    font-size: 24px;
    @extend %dmsans-700;
    color: #436372;
    margin-bottom: 61px;
    text-transform: capitalize;
  }
  &__item{
    display: flex;
    margin-bottom: 30px;
    &:nth-child(odd){
      margin-left: 130px;
      padding: 30px 0;
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb;
    }
    &:last-child{
      margin-bottom: 100px;
    }
  }
  &__item-avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  &__item-content{
    margin-left: 24px;
  }
  &__item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
  }
  &__item-name{
    @extend %dmsans-700;
  }
  &__item-date{
    color: $linkfont;
    font-size: 14px;
  }
  &__item-text{
    color: #565872;
    margin-bottom: 31px;
  }
  &__item-reply{
    line-height: 14px;
    position: relative;
    @extend %rubik-400;
    display: inline-block;
    padding-right: 22px;
    &::after{
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-image: url('../images/replyarrow.png');
      background-repeat: no-repeat;
      right: 0;
    }
  }
  &-form{
    &__input-text{
      width: 400px;
      border: 1px solid #e5e5e5;
      outline: none;
      &:focus{
        outline: 2px solid #e5e5e5;
      }
      &::placeholder{
        color: #999999;
      }
    }
    &__textarea{
      border: 1px solid #e5e5e5;
      outline: none;
      &:focus {
        outline: 2px solid #e5e5e5;
      }
      &::placeholder {
        color: #999999;
      }
    }
    &__btn{
      text-transform: uppercase;
    }
  }
}

.contacts{
  padding: 120px 0 140px;
  &__subtitle{
    @extend %poppins-700;
    color: $subt;
    text-align: center;
    margin-bottom: 19px;
    text-transform: capitalize;
  }
  &__title{
    color: #436372;
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 77px;
    @extend %dmsans-700;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 122px;
  }
  &__item{
    width: 370px;
    background-color: #f7f7f7;
    padding: 70px 0 80px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    &:hover{
      border: 3px solid $subt;
      .contacts__item-img{
        background-color: $subt;
        path{
          fill: #fff;
        }
      }
    }
    &-img{
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 65px;
    }
    &-title{
      margin-bottom: 29px;
      font-size: 20px;
      @extend %dmsans-500;
      color: $h2;
    }
    &-text{
      display: inline-block;
      color: #565872;
      line-height: 30px;
      font-size: 16px;
    }
  }
  &__writebox{
    display: flex;
    justify-content: space-between;
  }
  &__write{
    width: 620px;
    &-inputs{
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    &-input{
      width: 300px;
      height: 50px;
      border: none;
      background-color: #fafafa;
      padding: 15px;
      outline: none;
    }
    &-textarea{
      width: 100%;
      height: 175px;
      border: none;
      background-color: #fafafa;
      padding: 15px;
      outline: none;
      resize: none;
      margin-bottom: 29px;
    }
    &-btn{
      width: 200px;
      display: block;
      padding: 20px 0;
      border-radius: 5px;
      text-transform: uppercase;
    }
  }
}

.contact-blog{
  padding-top: 0;
}





.footer{
  padding: 85px 0 40px;
  &-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
    &__item{
      &__adress{
        margin-bottom: 20px;
        display: inline-block;
        color: $linkfont;
        line-height: 24px;
      }
      &__email, &__phone{
        color: $linkfont;
      }
      &__title{
        margin-bottom: 32px;
        padding-top: 20px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #1f2044;
        @extend %dmsans-700;
      }
      &__text{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 39px;
        @extend %rubik-400;
        color: $linkfont;
      }
      &__form{
        &-input{
          width: 170px;
          border: none;
          background-color: #fef7f0;
          padding: 14px 16px;
          font-size: 12px;
          &::placeholder{
            font-size: 12px;
            color: #234969;
          }
        }
        &-btn{
          width: 100px;
          border: none;
          padding: 14px 16px;
          color: white;
          cursor: pointer;
        }
      }
    }
    &__logo{
      margin-bottom: 38px;
    }
    &__contact{
      width: 231px;
      margin-right: 69px;
    }
    &__nav{
      width: 145px;
      margin-right: 145px;
    }
    &__acc{
      width: 100px;
      margin-right: 180px;
    }
    &__form{
      width: 295px
    }
  }
  &-bottom{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__copy{
      font-size: 14px;
      line-height: 32px;
      color: $linkfont
    }
    &__list{
      display: flex;
      justify-content: space-between;
      width: 270px;
      &-item{
        padding: 0 15px;
      }
    }
  }
}

.footer-bottom__list-item + .footer-bottom__list-item {
  border-left: 1px solid #7b7b7b;
}






@import 'media';
