@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import '../modules/_header/_header';
@import '../modules/_footer/_footer';
@import '../modules/_top/_top';
@import '../modules/_blog/_blog';

.terms {
  padding: 121px 0 95px;

  :last-child {
    margin-bottom: 0;
  }

  &__title {
    font-size: 24px;
    @extend %rubik-500;
    margin-bottom: 34px;
  }

  &__list {
    list-style: decimal-leading-zero;
  }

  &__item {
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    line-height: 30px;
    margin-bottom: 66px;
    @extend %rubik-400;
  }
}

ol.terms__list {
  margin-bottom: 66px;
  padding-left: 45px;
}