.footer {
  padding: 85px 0 40px;

  &-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;

    &__item {
      &__adress {
        margin-bottom: 20px;
        display: inline-block;
        color: $linkfont;
        line-height: 24px;
      }

      &__email,
      &__phone {
        color: $linkfont;
      }

      &__title {
        margin-bottom: 32px;
        padding-top: 20px;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #1f2044;
        @extend %dmsans-700;
      }

      &__text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 39px;
        @extend %rubik-400;
        color: $linkfont;
      }

      &__form {
        &-input {
          width: 170px;
          border: none;
          background-color: #fef7f0;
          padding: 14px 16px;
          font-size: 12px;

          &::placeholder {
            font-size: 12px;
            color: #234969;
          }
        }

        &-btn {
          width: 100px;
          border: none;
          padding: 14px 16px;
          color: white;
          cursor: pointer;
        }
      }
    }

    &__logo {
      margin-bottom: 38px;
    }

    &__contact {
      width: 231px;
      margin-right: 69px;
    }

    &__nav {
      width: 145px;
      margin-right: 145px;
    }

    &__acc {
      width: 100px;
      margin-right: 180px;
    }

    &__form {
      width: 295px
    }
  }

  &-bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__copy {
      font-size: 14px;
      line-height: 32px;
      color: $linkfont
    }

    &__list {
      display: flex;
      justify-content: space-between;
      width: 270px;

      &-item {
        padding: 0 15px;
      }
    }
  }
}

.footer-bottom__list-item+.footer-bottom__list-item {
  border-left: 1px solid #7b7b7b;
}

@media (max-width: 1200px) {
  .footer-top {
    &__item {
      &__form-input {
        width: 100%;
        margin-bottom: 15px;
      }
      &__form-btn {
        width: 100%;
        display: block;
      }
    }
    &__nav {
      margin-right: 100px;
    }
    &__acc {
      margin-right: 130px;
    }
  }
  .footer-bottom {
    flex-wrap: wrap;
  }
}

@media (max-width: 1050px) {
  .footer-top {
    flex-wrap: wrap;
    &__form {
      max-width: 100%;
      margin-top: 30px;
    }
    &__acc {
      margin-right: 0;
    }
    &__nav {
      margin-right: 70px;
    }
  }
}

@media (max-width: 500px) {
  .footer-top {
    &__contact {
      margin: 0 auto;
      width: 215px;
      margin-bottom: 20px;
    }
    &__nav {
      margin-right: 40px;
      margin-left: 40px;
    }
    &__acc {
      margin-right: 30px;
    }
    &__form {
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}