<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/login.min.css">
  <title>.Glee Login-page</title>
</head>
<body>
{% include 'app/modules/_header/_header.html' %}
  <main class="main">
    <section class="top">
      <h2 class="title top__title">
        Log in
      </h2>
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="index.html">
            Home
          </a>
        </li>
        <li class="breadcrumbs__divider">/</li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="">
            Log in
          </a>
        </li>
      </ul>
    </div>
  </section>
  {% include 'app/modules/_login/_login.html' %}
  {% include 'app/modules/_brands/_brand.html' %}
  </main>
  {% include 'app/modules/_footer/_footer.html' %}
  <script src="js/main.min.js"></script>
</body>
</html>